@import url('https://fonts.googleapis.com/css?family=Lato:300,600');
@import "./variables";
@import "./mixins";
@import "./spinner";
@import "./swing";
@import "./chart";

*, *:after, *:before {
  box-sizing: border-box;
}

::selection {
  color: $color-bg;
  background-color: rgba($color-base, .9);
}

body {
  font-family: 'Lato', Helvetica, serif;
  font-weight: 300;
  font-size: 20px;
  background: $color-bg;
}

.headline {
  margin: 1em;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.fa {
  transition: font-size .3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.5);

  &--hidden {
    font-size: 0;

    .btn--center:hover & {
      margin-left: .5em;
      font-size: 1em;
    }
  }
}

.btn {
  @include btn-style();
  font-size: 1.5em;

  &--plain {
    @include btn-no-style();
  }

  &--center {
    margin: .5em auto;
  }
}

.flip-it {
  padding: 0 1em;
  transition: transform .3s;

  &:hover {
    transform: scaleX(-1);
  }
}

