@mixin btn-no-style() {
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

@mixin btn-style() {
  display: block;
  appearance: none;
  border: 3px solid $color-base;
  border-radius: 0;
  background-color: transparent;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color .3s, color 0.3s, transform .3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.5);

  &:hover {
    background-color: $color-base;
    color: $color-bg;
    transform: scale(1.1);
  }
}