@-webkit-keyframes swinging {
  0% {-webkit-transform: rotate(10deg);}
  50% {-webkit-transform: rotate(-5deg)}
  100% {-webkit-transform: rotate(10deg);}
}

@keyframes swinging {
  0% {transform: rotate(8deg);}
  50% {transform: rotate(-6deg)}
  100% {transform: rotate(8deg);}
}

.swing {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3s ease-in-out forwards infinite;
  animation: swinging 3s ease-in-out forwards infinite;
}
